aiofiles==0.8.0
aiogram==2.14.3
aiohttp==3.7.4.post0
altgraph==0.17
anyio==3.5.0
asgiref==3.5.0
async-timeout==3.0.1
attrs==21.2.0
Babel==2.9.1
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
click==7.1.2
colorama==0.4.4
db0mb3r==3.1.4.17
discord==1.7.3
discord.py==1.7.3
easygui==0.98.2
fastapi==0.74.1
future==0.18.2
h11==0.13.0
httpcore==0.14.7
httpx==0.22.0
idna==3.2
Jinja2==3.0.3
loguru==0.6.0
MarkupSafe==2.1.0
multidict==5.1.0
pefile==2019.4.18
phonenumbers==8.12.43
pydantic==1.9.0
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
PyQt5==5.13.2
PyQt5-sip==12.8.0
pyqt5-tools==5.13.2.1.6rc1
pyTelegramBotAPI==4.0.0
python-dotenv==0.14.0
pytz==2021.1
pywin32-ctypes==0.2.0
random-user-agent==1.0.1
requests==2.26.0
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
telebot==0.0.4
typing-extensions==3.10.0.2
urllib3==1.26.6
uvicorn==0.17.5
win32-setctime==1.1.0
yarl==1.6.3
